
body{
		background:url(../images/pg-bk.jpg);
		background-attachment: fixed;
	}

	#header-frm-img{
		position:absolute;
		margin-top:20px;
		left:20px;
		align:center;
	}


	#img-save{
		border: 3px dashed #FF0000;
		z-index:2;
	}

	#header{
		text-align:right;
	}

	#secondrow {
		text-align:center;
	}

	#wrapper{
		width: 72%;
		margin:auto;
	}

	#tripdetails{
		margin-top:15px;
	}
	#header-form{
		background-color: #343131;
		opacity: 0.9;
		color:white;
		height:300px;
		border-color:lightgrey;
		border-style: solid;
		border-size:5px;
		align:center;
	}

#buttondiv{
	align:center;
}
	.facts{
		background-color: #343131;
		opacity: 0.9;
		color:white;
		margin-top:20px;
	}

	#promo{
		margin-top: 125px;
		margin-bottom:20px;
	}

	#promo1{
		margin-right:65px;
	}

	#promo2{
		margin-right:65px;
	}
	#promo3{
		margin-right:65px;
	}

	#footer{
		margin-top:20px;
		padding:10px;
		background-color: #343131;
		height: 220px;
		color:white;
		font-size:15px;
		z-index: 1;
	}

ul li a{
		margin-left:5px;
		color:white;
	}

	#sidebar{
		margin-top:20px;
		border:2px solid black;
		background-color:lightgrey;
		margin-right:5px;
	}


	#onwardjourneyresults{

			margin-top:20px;
			margin-right:5px;
			padding:5px;
			border:2px solid black;
			background-color:lightgrey;
	}

	#returnjourneyresults{

			margin-top:20px;
			padding:5px;
			border:2px solid black;
			background-color:lightgrey;

	}

	.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/* CSS Document */
